.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 90px;
}

.hero-left {
  max-width: 520px;
}

.hero-left h1 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #2f2b6f;
}

.hero-left h1 span {
  font-weight: 700;
  color: #5a4bff;
}

.hero-left p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 35px;
  color: #3e3e6b;
}

.cta-btn {
  background: linear-gradient(135deg, #6f5cff, #8b7bff);
  border: none;
  padding: 14px 26px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(111, 92, 255, 0.35);
}
/* Hero image size control */
.hero-right img {
  max-width: 530px;   /* change this value to resize */
  width: 100%;
  height: auto;
}
