.navbar {
  height: 80px;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-btn {
  background: linear-gradient(135deg, #6f5cff, #8b7bff);
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(111, 92, 255, 0.3);
}
